<div class="certificate">
  <app-certificate-status
    *ngIf="certificateValid && !errorWhileVerifyingCertificate"
    [status]="'success'"
    [title]="t('practitioner.certificateFeedback.successTitle')"
    [description]="t('practitioner.certificateFeedback.successDescription')" />

  <app-certificate-status
    *ngIf="!certificateValid && !certificateUploaded"
    [status]="'error'"
    [title]="t('practitioner.certificateFeedback.failureTitle')"
    [description]="t('practitioner.certificateFeedback.failureDescription')" />

  <app-certificate-status
    *ngIf="errorWhileVerifyingCertificate"
    [status]="'error'"
    [title]="t('practitioner.certificateFeedback.verificationErrorTitle')"
    [description]="errorWhileVerifyingCertificate" />

  <app-certificate-upload
    [hcp]="hcp"
    *ngIf="!certificateValid || !certificateUploaded"
    (onUploadCertificate)="onUploadCertificate.emit($event)" />
</div>
