<div class="certificate">
  <app-certificate-status
    *ngIf="certificateValid && !errorWhileVerifyingCertificate"
    [status]="'success'"
    [title]="certificateAvailabilityFeedback.present.title"
    [description]="certificateAvailabilityFeedback.present.description" />

  <app-certificate-status
    *ngIf="!certificateValid"
    [status]="'error'"
    [title]="certificateAvailabilityFeedback.absent.title"
    [description]="certificateAvailabilityFeedback.absent.description" />

  <app-certificate-upload
    *ngIf="!certificateValid"
    (onUploadCertificate)="onUploadCertificate.emit($event)" />

  <app-certificate-status
    *ngIf="errorWhileVerifyingCertificate"
    [status]="'error'"
    [title]="certificateAvailabilityFeedback.error.title"
    [description]="errorWhileVerifyingCertificate" />
</div>
