<div *ngIf="prescribedMedications?.length">
  <div *ngFor="let chunk of chunks; let chunkIndex = index">
    <div class="prescription">
      <div class="header">
        <h1>{{ t('prescription.pdf.title') }}</h1>
        <p>{{ t('prescription.pdf.instructions') }}</p>
      </div>
      <div class="divider"></div>
      <div class="options">
        <p>
          <strong>{{ t('prescription.pdf.options.title') }}</strong>
        </p>
        <ol>
          <li>{{ t('prescription.pdf.options.option1') }}</li>
          <li>{{ t('prescription.pdf.options.option2') }}</li>
        </ol>
      </div>
      <div class="divider"></div>

      <div class="prescription-section">
        <div class="prescription-section__persons">
          <p>
            <strong>{{ t('prescription.pdf.prescriber') }}:</strong>
            {{ prescriber?.lastName }} {{ prescriber?.firstName }}
            {{ prescriber?.nihii }}
          </p>
          <p>
            <strong>{{ t('prescription.pdf.patient') }}:</strong>
            {{ patient?.lastName }} {{ patient?.firstName }}
            {{ patient?.ssin }}
          </p>
        </div>
        <h3>{{ t('prescription.pdf.electronicContent') }}</h3>

        <div
          *ngFor="let item of chunk; let idx = index"
          class="prescription-item">
          <div class="prescription-item__block">
            <p>
              <strong
                >{{ t('prescription.pdf.product') }} {{ idx + 1 }}:</strong
              >
            </p>
            <p>
              {{ t('prescription.pdf.date') }}
              {{ formatDate(item.medication.beginMoment) }}
            </p>
            <p>
              {{ t('prescription.pdf.validUntil') }}
              {{ item.medication.endMoment ? item.medication.endMoment : '-' }}
            </p>
          </div>
          <div class="prescription-item__block prescription-item__block--right">
            <strong class="ridTitle">RID {{ idx + 1 }}</strong>
            <div class="barcode">
              <svg #ridElements [attr.id]="'barcode' + idx"></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
