<div class="prescriptionsWrap">
  <div *ngIf="sentPrescriptions.length" class="prescriptions">
    <p class="prescriptions__title">{{ t('prescription.list.sentTitle') }}</p>
    <div class="prescriptions__rows">
      <app-prescription-card
        *ngFor="let medication of sentPrescriptions"
        [prescribedMedication]="medication"
        (handleModifyPrescription)="handleModifyPrescription.emit($event)"
        (handleDeletePrescription)="handleDeletePrescription.emit($event)" />
    </div>
    <div class="prescriptions__footer">
      <app-button
        [disabled]="sending"
        [view]="printing ? 'withSpinner' : 'outlined'"
        type="submit"
        (click)="onPrintPrescriptions()">
        {{ t('prescription.list.print') }}
      </app-button>
    </div>
  </div>

  <div *ngIf="pendingPrescriptions.length" class="prescriptions">
    <p class="prescriptions__title">
      {{ t('prescription.list.pendingTitle') }}
    </p>
    <div class="prescriptions__rows">
      <app-prescription-card
        *ngFor="let medication of pendingPrescriptions"
        [prescribedMedication]="medication"
        (handleModifyPrescription)="handleModifyPrescription.emit($event)"
        (handleDeletePrescription)="handleDeletePrescription.emit($event)" />
    </div>

    <div class="prescriptions__footer">
      <app-button
        [disabled]="sending"
        [view]="printing ? 'withSpinner' : 'outlined'"
        type="submit"
        (click)="spinPrint()">
        {{ t('prescription.list.sendAndPrint') }}
      </app-button>

      <app-button
        [disabled]="printing"
        [view]="sending ? 'withSpinner' : 'primary'"
        type="submit"
        (click)="spinSend()">
        {{ t('prescription.list.send') }}
      </app-button>
    </div>
  </div>
</div>
