<div
  [class.focused]="focused"
  [class.isExpanded]="isExpanded"
  [id]="index"
  class="medicationRow">
  <div class="header">
    <div
      class="header__medication"
      (click)="handleMedicationClick()"
      tabindex="0">
      <div class="header__medication__content">
        <div class="header__medication__content__heading">
          <div class="header__medication__content__heading__title">
            <!-- Choose the appropriate icon based on the drug type: medications,molecules, non-medicinal products -->
            <ng-container *ngIf="!!medication.ampId; else checkVmpGroup">
              <app-tooltip
                [iconSnippet]="medicationIcn"
                content="{{ t('medication.drugType.medication') }}" />
            </ng-container>

            <ng-template #checkVmpGroup>
              <ng-container *ngIf="!!medication.vmpGroupId; else checkNmp">
                <app-tooltip
                  [iconSnippet]="moleculeIcn"
                  content="{{ t('medication.drugType.molecule') }}" />
              </ng-container>
            </ng-template>

            <ng-template #checkNmp>
              <ng-container *ngIf="!!medication.nmpId">
                <app-tooltip
                  [iconSnippet]="naturalIcn"
                  content="{{ t('medication.drugType.homologation') }}" />
              </ng-container>
            </ng-template>

            <!-- Templates for icons -->
            <ng-template #medicationIcn>
              <app-solid-pill-icn [color]="'#3D87C5'" />
            </ng-template>

            <ng-template #moleculeIcn>
              <app-molecule-icn [color]="'#EFAC2F'" />
            </ng-template>

            <ng-template #naturalIcn>
              <app-leaf-icn [color]="'#197437'" />
            </ng-template>

            <h3>{{ medication.title }}</h3>
            <div class="header__medication__content__heading__infographics">
              <div class="medicationInfographics">
                <div
                  class="medicationInfographics__item"
                  *ngIf="!!medication.blackTriangle">
                  <ng-template #blackTriangleIcn>
                    <app-triangle-icn [color]="'#000000'" />
                  </ng-template>
                  <app-tooltip
                    [iconSnippet]="blackTriangleIcn"
                    content="{{
                      t('medication.drugInfographic.blackTriangle')
                    }}" />
                </div>
                <div
                  class="medicationInfographics__item"
                  *ngIf="!!medication.rmaProfessionalLink">
                  <ng-template #rmaContent>
                    <p *ngIf="medication?.rmakeyMessages">
                      {{ medication.rmakeyMessages }}
                    </p>
                    <a
                      class="snippetLink"
                      [href]="medication.rmaProfessionalLink"
                      target="_blank">
                      {{ t('medication.drugInfographic.rma') }}
                    </a>
                  </ng-template>
                  <ng-template #orangeTriangleIcn>
                    <app-triangle-icn [color]="'#FF5E00'" />
                  </ng-template>
                  <app-tooltip
                    [iconSnippet]="orangeTriangleIcn"
                    [contentSnippet]="rmaContent" />
                </div>
                <div
                  class="medicationInfographics__item"
                  *ngIf="!!medication.speciallyRegulated">
                  <ng-template #specialRegulationsIcn>
                    <app-pills-bottle-icn [color]="'#000000'" />
                  </ng-template>
                  <app-tooltip
                    [content]="
                      getSpecialRegulation(medication.speciallyRegulated)
                    "
                    [iconSnippet]="specialRegulationsIcn" />
                </div>
                <div
                  class="medicationInfographics__item"
                  *ngIf="!!medication.genericPrescriptionRequired">
                  <ng-template #prescriptionIcn>
                    <app-prescription-icn [color]="'#000000'" />
                  </ng-template>
                  <app-tooltip
                    content="{{
                      t(
                        'medication.drugInfographic.genericPrescriptionRequired'
                      )
                    }}"
                    [iconSnippet]="prescriptionIcn" />
                </div>
              </div>
              <div class="medicationAvailabilityInfographics">
                <ng-template #supplyProblemsContent>
                  <div class="supplyProblemsTooltip" *ngIf="!!supplyProblem">
                    <p
                      class="supplyProblemsTooltip__title supplyProblemsTooltip__title--orange">
                      {{ t('medication.supply.issueTitle') }}
                    </p>

                    <div class="supplyProblemsTooltip__content">
                      <div *ngIf="supplyProblem.from">
                        <span>
                          {{ t('medication.supply.startDate') }}
                        </span>
                        <p>
                          {{ formatTimestamp(supplyProblem.from) }}
                        </p>
                      </div>
                      <div *ngIf="supplyProblem.expectedEndOn">
                        <span>
                          {{ t('medication.supply.expectedEndDate') }}
                        </span>
                        <p>
                          {{ formatTimestamp(supplyProblem.expectedEndOn) }}
                        </p>
                      </div>
                      <div *ngIf="supplyProblemReason">
                        <span>{{ t('medication.supply.reason') }}</span>
                        <p>
                          {{ supplyProblemReason }}
                        </p>
                      </div>
                      <div *ngIf="supplyProblemImpact">
                        <span>{{ t('medication.supply.impact') }}</span>
                        <p>{{ supplyProblemImpact }}</p>
                      </div>

                      <div
                        *ngIf="
                          supplyProblem.impact?.fr ===
                          'Importation possible par le pharmacien'
                        ">
                        <span>{{ t('medication.supply.prescriberNote') }}</span>
                        <a
                          target="_blank"
                          href="https://www.afmps.be/sites/default/files/content/INSP/NARC/declaration-medecin.pdf"
                          >{{ t('medication.supply.downloadPdf') }}</a
                        >
                      </div>

                      <div *ngIf="supplyProblemExtraInfo?.length !== 0">
                        <span>{{ t('medication.supply.extraInfo') }}</span>
                        <p *ngFor="let problem of supplyProblemExtraInfo">
                          {{ problem }}
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <div
                  class="medicationAvailabilityInfographics__item medicationAvailabilityInfographics__item--orange"
                  *ngIf="!!medication.supplyProblems">
                  <ng-template #supplyIcn>
                    <app-supply-icn [color]="'#FF5E00'" />
                  </ng-template>
                  <app-tooltip
                    [iconSnippet]="supplyIcn"
                    [contentSnippet]="supplyProblemsContent" />
                </div>
                <ng-template #endOfCommercialisationContent>
                  <div
                    class="supplyProblemsTooltip"
                    *ngIf="!!commercialization">
                    <p
                      class="supplyProblemsTooltip__title supplyProblemsTooltip__title--red">
                      {{ t('medication.commercialization.end') }}
                    </p>
                    <div class="supplyProblemsTooltip__content">
                      <div *ngIf="commercialization.from">
                        <span>
                          {{
                            t(
                              'medication.commercialization.limitedAvailabilityFrom'
                            )
                          }}</span
                        >
                        <p>
                          {{ formatTimestamp(commercialization.from) }}
                        </p>
                      </div>
                      <div *ngIf="commercialization.to">
                        <span>{{
                          t('medication.commercialization.unavailableFrom')
                        }}</span>
                        <p>
                          {{ formatTimestamp(commercialization.to) }}
                        </p>
                      </div>

                      <div *ngIf="commercializationEnd">
                        <span>{{ t('medication.commercialization.end') }}</span>
                        <p>
                          {{ commercializationEnd }}
                        </p>
                      </div>

                      <div *ngIf="commercializationReason">
                        <span>{{
                          t('medication.commercialization.endReason')
                        }}</span>
                        <p>{{ commercializationReason }}</p>
                      </div>

                      <div *ngIf="commercializationImpact">
                        <span>{{
                          t('medication.commercialization.endImpact')
                        }}</span>
                        <p>{{ commercializationImpact }}</p>
                      </div>

                      <div *ngIf="commercializationExtraInfo?.length !== 0">
                        <span>{{
                          t(
                            'medication.commercialization.endAdditionalInformation'
                          )
                        }}</span>

                        <p *ngFor="let line of commercializationExtraInfo">
                          {{ line }}
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <div
                  class="medicationAvailabilityInfographics__item medicationAvailabilityInfographics__item--red"
                  *ngIf="commercialization?.endOfComercialization">
                  <ng-template #endOfCommercialisationIcn>
                    <app-end-of-commercialisation-icn [color]="'#EE1313'" />
                  </ng-template>
                  <app-tooltip
                    [iconSnippet]="endOfCommercialisationIcn"
                    [contentSnippet]="endOfCommercialisationContent" />
                </div>
                <ng-template #startOfCommercialisationContent>
                  <div
                    class="supplyProblemsTooltip"
                    *ngIf="!!commercialization">
                    <p
                      class="supplyProblemsTooltip__title supplyProblemsTooltip__title--green">
                      {{ t('medication.commercialization.start') }}
                    </p>
                    <div class="supplyProblemsTooltip__content">
                      <div *ngIf="commercialization.from">
                        <span>{{
                          t('medication.commercialization.startAvailableFrom')
                        }}</span>
                        <p>
                          {{ formatTimestamp(commercialization.from) }}
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <div
                  class="medicationAvailabilityInfographics__item medicationAvailabilityInfographics__item--green"
                  *ngIf="
                    commercialization &&
                    !commercialization?.endOfComercialization
                  ">
                  <ng-template #startOfCommercialisationIcn>
                    <app-start-of-commercialisation-icn [color]="'#09853D'" />
                  </ng-template>
                  <app-tooltip
                    [iconSnippet]="startOfCommercialisationIcn"
                    [contentSnippet]="startOfCommercialisationContent" />
                </div>
              </div>
              <div class="deliveryPrescriptionConditions">
                <ng-template #reimbursementsIcn>
                  <div class="textToIcon textToIcon--green">
                    <p>
                      {{ reimbursement?.reimbursementCriterion?.category }}
                    </p>
                  </div>
                </ng-template>
                <ng-template #reimbursementsContent>
                  <div *ngIf="reimbursement; else noReimbursement">
                    <div class="supplyProblemsTooltip">
                      <p
                        class="supplyProblemsTooltip__title supplyProblemsTooltip__title--green">
                        {{ t('medication.reimbursement.title') }}
                      </p>
                      <div class="supplyProblemsTooltip__content">
                        <div
                          *ngIf="
                            reimbursement.reimbursementCriterion?.category
                          ">
                          <span>
                            {{ t('medication.reimbursement.category') }}
                          </span>
                          <p>
                            {{ reimbursement.reimbursementCriterion?.category }}
                          </p>
                        </div>
                        <div
                          *ngIf="
                            reimbursement.reimbursementCriterion?.category
                          ">
                          <span>
                            {{ t('medication.reimbursement.categoryLabel') }}
                          </span>
                          <p>
                            {{
                              getCategoryLabelForReimbursement(
                                reimbursement.reimbursementCriterion?.category
                              )
                            }}
                          </p>
                        </div>

                        <div *ngIf="reimbursement.copayments">
                          <div *ngFor="let el of reimbursement.copayments">
                            <div *ngIf="el.regimeType === 1">
                              <span>
                                {{ t('medication.reimbursement.copay') }}
                                <strong>
                                  {{
                                    t(
                                      'medication.reimbursement.copayPreferential'
                                    )
                                  }}
                                </strong>
                              </span>
                            </div>
                            <div *ngIf="el.regimeType === 2">
                              <span>
                                {{ t('medication.reimbursement.copay') }}
                                <strong>
                                  {{
                                    t('medication.reimbursement.copayActive')
                                  }}
                                </strong>
                              </span>
                            </div>
                            <div *ngIf="el.feeAmount">
                              <p class="feeAmount">
                                {{ computeFeeAmount(el.feeAmount) }}
                              </p>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="reimbursement.temporary">
                          <span>
                            {{ t('medication.reimbursement.temporary') }}
                          </span>
                          <p class="textRed">
                            {{ reimbursement.temporary }}
                          </p>
                        </div>

                        <div *ngIf="reimbursementCriterion">
                          <span>
                            {{ t('medication.reimbursement.chapter') }}
                          </span>
                          <p>
                            {{ reimbursementCriterion }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ng-template #noReimbursement>
                    <div class="supplyProblemsTooltip">
                      <p
                        class="supplyProblemsTooltip__title supplyProblemsTooltip__title--green">
                        {{ t('medication.reimbursement.noneTitle') }}
                      </p>
                      <div class="supplyProblemsTooltip__content">
                        <div>
                          <p>
                            {{ t('medication.reimbursement.notApplicable') }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
                <app-tooltip
                  *ngIf="reimbursement"
                  [iconSnippet]="reimbursementsIcn"
                  [contentSnippet]="reimbursementsContent" />

                <ng-template #deliveryConditionsIcn>
                  <div class="textToIcon textToIcon--orange">
                    <p>{{ medication.deliveryModusCode }}</p>
                  </div>
                </ng-template>
                <ng-template #deliveryConditionsContent>
                  <div
                    *ngIf="medication.deliveryModusCode; else noDeliveryModus">
                    <div class="supplyProblemsTooltip">
                      <p
                        class="supplyProblemsTooltip__title supplyProblemsTooltip__title--orange">
                        {{ t('medication.delivery.title') }}
                      </p>
                      <div class="supplyProblemsTooltip__content">
                        <div *ngIf="medication.deliveryModusCode">
                          <span>
                            {{ t('medication.delivery.code') }}
                          </span>
                          <p>{{ medication.deliveryModusCode }}</p>
                        </div>

                        <div *ngIf="medication.deliveryModus">
                          <span>{{ t('medication.delivery.modus') }}</span>
                          <p>{{ medication.deliveryModus }}</p>
                        </div>

                        <div *ngIf="medication.deliveryModusSpecification">
                          <span>{{
                            t('medication.delivery.specification')
                          }}</span>
                          <p>{{ medication.deliveryModusSpecification }}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ng-template #noDeliveryModus>
                    <div class="supplyProblemsTooltip">
                      <p
                        class="supplyProblemsTooltip__title supplyProblemsTooltip__title--green">
                        {{ t('medication.delivery.title') }}
                      </p>
                      <div class="supplyProblemsTooltip__content">
                        <div>
                          <p>{{ t('medication.prescription.free') }}</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
                <app-tooltip
                  *ngIf="!!medication.deliveryModusCode"
                  [iconSnippet]="deliveryConditionsIcn"
                  [contentSnippet]="deliveryConditionsContent" />

                <ng-template #prescriptionConditionsIcn>
                  <div
                    *ngIf="
                      medication.deliveryModusSpecificationCode &&
                      medication.deliveryModusSpecification
                    ">
                    <div class="textToIcon textToIcon--red">
                      <p>{{ medication.deliveryModusSpecificationCode }}</p>
                    </div>
                  </div>
                </ng-template>
                <ng-template #prescriptionConditionsContent>
                  <div
                    *ngIf="
                      medication.deliveryModusSpecificationCode;
                      else noDeliveryModus
                    ">
                    <div class="supplyProblemsTooltip">
                      <p
                        class="supplyProblemsTooltip__title supplyProblemsTooltip__title--red">
                        {{ t('medication.prescription.title') }}
                      </p>
                      <div class="supplyProblemsTooltip__content">
                        <div *ngIf="medication.deliveryModusSpecificationCode">
                          <span>
                            {{ t('medication.delivery.code') }}
                          </span>
                          <p>{{ medication.deliveryModusSpecificationCode }}</p>
                        </div>

                        <div *ngIf="medication.deliveryModusSpecification">
                          <span>
                            {{ t('medication.delivery.specification') }}
                          </span>
                          <p>
                            {{ medication.deliveryModusSpecification }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ng-template #noDeliveryModus>
                    <div class="supplyProblemsTooltip">
                      <p
                        class="supplyProblemsTooltip__title supplyProblemsTooltip__title--green">
                        {{ t('medication.prescription.title') }}
                      </p>
                      <div class="supplyProblemsTooltip__content">
                        <div>
                          <p>{{ t('medication.delivery.notApplicable') }}</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
                <app-tooltip
                  *ngIf="!!medication.deliveryModusSpecificationCode"
                  [iconSnippet]="prescriptionConditionsIcn"
                  [contentSnippet]="prescriptionConditionsContent" />
              </div>
            </div>
          </div>

          <p class="header__medication__content__heading__activeIngredient">
            {{ medication.activeIngredient }}
          </p>
        </div>

        <div class="header__medication__content__description">
          <div
            class="header__medication__content__description__item price"
            *ngIf="medication.price">
            <span>
              {{ t('medication.ui.price') }}
            </span>
            <p>{{ medication.price }}</p>
          </div>

          <div
            *ngIf="medication.price"
            class="header__medication__content__description__item price">
            <span>
              {{ t('medication.reimbursement.title') }}
            </span>
            <div *ngIf="reimbursement; else noReimbursement">
              <div class="textToIcon textToIcon--green">
                <p>
                  {{ reimbursement.reimbursementCriterion?.category }}
                </p>
              </div>
            </div>
            <ng-template #noReimbursement>
              <div class="textToIcon textToIcon--gray">
                <p>
                  {{ t('medication.reimbursement.non') }}
                </p>
              </div>
            </ng-template>
          </div>

          <div class="header__medication__content__description__item">
            <span>{{ t('medication.delivery.title') }}</span>
            <div *ngIf="medication.deliveryModusCode; else freeOfPrescription">
              <div class="textToIcon textToIcon--orange">
                <p>{{ medication.deliveryModusCode }}</p>
              </div>
            </div>
            <ng-template #freeOfPrescription>
              <div class="textToIcon textToIcon--green">
                <p>{{ t('medication.prescription.free') }}</p>
              </div>
            </ng-template>
          </div>

          <div class="header__medication__content__description__item">
            <span>
              {{ t('medication.prescription.title') }}
            </span>
            <div
              *ngIf="
                medication.deliveryModusSpecificationCode &&
                  medication.deliveryModusSpecification;
                else notApplicable
              ">
              <div class="textToIcon textToIcon--red">
                <p>{{ medication.deliveryModusSpecificationCode }}</p>
              </div>
            </div>
            <ng-template #notApplicable>
              <div class="textToIcon textToIcon--green">
                <p>
                  {{ t('medication.delivery.notApplicable') }}
                </p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <button
      *ngIf="showChevron"
      class="header__arrow"
      [class.isExpanded]="isExpanded"
      (click)="toggleMedicationDetails()">
      <app-chevron-icn color="#3D87C5" />
    </button>
  </div>

  <div *ngIf="isExpanded" class="content">
    <div *ngIf="medication.vmp" class="content__vmp">
      <div *ngIf="vmpName" class="content__vmp__item">
        <span>
          {{ t('medication.vmp.label') }}
        </span>
        <p>{{ vmpName }}</p>
      </div>
      <div *ngIf="vmpGroupName" class="content__vmp__item">
        <span>
          {{ t('medication.vmp.groupLabel') }}
        </span>
        <p>{{ vmpGroupName }}</p>
      </div>
    </div>

    <div class="content__divider"></div>

    <div class="content__links">
      <a *ngIf="medication.crmLink" [href]="medication.crmLink" target="_blank">
        {{ t('medication.links.cbip') }}
      </a>
      <a
        *ngIf="medication.patientInformationLeafletLink"
        [href]="medication.patientInformationLeafletLink"
        target="_blank">
        {{ t('medication.links.leaflet') }}
      </a>
      <a
        *ngIf="medication.rmaProfessionalLink"
        [href]="medication.rmaProfessionalLink"
        target="_blank">
        {{ t('medication.links.rma') }}
      </a>
      <a *ngIf="medication.spcLink" [href]="medication.spcLink" target="_blank">
        {{ t('medication.links.spc') }}
      </a>
      <a
        *ngIf="medication.dhpcLink"
        [href]="medication.dhpcLink"
        target="_blank">
        {{ t('medication.links.dhpc') }}
      </a>
    </div>

    <div class="content__divider" *ngIf="reimbursement"></div>
    <div *ngIf="reimbursement">
      <ng-container *ngTemplateOutlet="reimbursementsContent"></ng-container>
    </div>

    <div class="content__divider"></div>
    <ng-container
      *ngTemplateOutlet="prescriptionConditionsContent"></ng-container>

    <div class="content__divider"></div>
    <ng-container *ngTemplateOutlet="deliveryConditionsContent"></ng-container>

    <div *ngIf="medication.supplyProblems" class="content__divider"></div>
    <div *ngIf="medication.supplyProblems">
      <ng-container *ngTemplateOutlet="supplyProblemsContent"></ng-container>
    </div>

    <div
      *ngIf="commercialization?.endOfComercialization"
      class="content__divider"></div>
    <div *ngIf="commercialization?.endOfComercialization">
      <ng-container
        *ngTemplateOutlet="endOfCommercialisationContent"></ng-container>
    </div>

    <div
      *ngIf="commercialization && !commercialization.endOfComercialization"
      class="content__divider"></div>
    <div *ngIf="commercialization && !commercialization.endOfComercialization">
      <ng-container
        *ngTemplateOutlet="startOfCommercialisationContent"></ng-container>
    </div>
  </div>
</div>
