<div class="home" *ngIf="uiReady">
  <app-practitioner-certificate
    [hcp]="hcp"
    [certificateUploaded]="certificateUploaded"
    [certificateValid]="certificateValid"
    [errorWhileVerifyingCertificate]="errorWhileVerifyingCertificate"
    (onUploadCertificate)="onUploadCertificate($event)" />
  <div class="home__divider"></div>
  <p>
    {{ t('home.samVersionLabel') }} <strong>{{ samVersion?.version }}</strong>
  </p>
  <div class="home__divider"></div>

  <app-medication-search
    *ngIf="certificateValid && !errorWhileVerifyingCertificate"
    (addPrescription)="onCreatePrescription($event)"
    [deliveryEnvironment]="deliveryEnvironment"
    [practitionerCredentials]="practitionerCredentials" />

  <div class="home__divider"></div>

  <app-prescription-list
    *ngIf="prescriptions"
    [prescribedMedications]="prescriptions"
    (handleModifyPrescription)="onModifyPrescription($event)"
    (handleDeletePrescription)="onDeletePrescription($event)"
    [onSendPrescriptions]="onSendPrescriptions"
    [onPrintPrescriptions]="onPrintPrescriptions"
    [onSendAndPrintPrescriptions]="onSendAndPrintPrescriptions" />

  <app-prescription-modal
    *ngIf="prescriptionModalMode === 'create'"
    [modalTitle]="t('prescription.createTitle')"
    (handleSubmit)="onSubmitCreatePrescription($event)"
    (handleCancel)="onClosePrescriptionModal()"
    [medicationToPrescribe]="medicationToPrescribe" />

  <app-prescription-modal
    *ngIf="prescriptionModalMode === 'modify'"
    [modalTitle]="t('prescription.modifyTitle')"
    (handleSubmit)="onSubmitModifyPrescription($event)"
    (handleCancel)="onClosePrescriptionModal()"
    [prescriptionToModify]="prescriptionToModify" />

  <app-print-prescription-modal
    *ngIf="prescriptions && showPrintPrescriptionsModal"
    [prescribedMedications]="prescriptions"
    [prescriber]="hcp"
    [patient]="patient"
    (onCloseModal)="onClosePrintPrescriptionsModal()" />
</div>
