<div class="home">
  <app-practitioner-certificate
    [certificateValid]="certificateValid"
    [errorWhileVerifyingCertificate]="errorWhileVerifyingCertificate"
    (onUploadCertificate)="onUploadCertificate($event)" />
  <div class="home__divider"></div>
  <p>
    Sam version: <strong>{{ samVersion?.version }}</strong>
  </p>
  <div class="home__divider"></div>

  <app-medication-search
    *ngIf="certificateValid && !errorWhileVerifyingCertificate"
    [onAddPrescription]="onCreatePrescription.bind(this)"
    [deliveryEnvironment]="deliveryEnvironment" />

  <div class="home__divider"></div>

  <app-prescription-list
    *ngIf="prescriptions"
    [prescribedMedications]="prescriptions"
    (handleModifyPrescription)="onModifyPrescription($event)"
    (handleDeletePrescription)="onDeletePrescription($event)"
    [onSendPrescriptions]="onSendPrescriptions"
    [onPrintPrescriptions]="onPrintPrescriptions"
    [onSendAndPrintPrescriptions]="onSendAndPrintPrescriptions" />

  <app-prescription-modal
    *ngIf="prescriptionModalMode === 'create'"
    [modalTitle]="'Créer la prescription'"
    (handleSubmit)="onSubmitCreatePrescription($event)"
    (handleCancel)="onClosePrescriptionModal()"
    [medicationToPrescribe]="medicationToPrescribe" />

  <app-prescription-modal
    *ngIf="prescriptionModalMode === 'modify'"
    [modalTitle]="'Modifier la prescription'"
    (handleSubmit)="onSubmitModifyPrescription($event)"
    (handleCancel)="onClosePrescriptionModal()"
    [prescriptionToModify]="prescriptionToModify" />

  <app-print-prescription-modal
    *ngIf="prescriptions && showPrintPrescriptionsModal"
    [prescribedMedications]="prescriptions"
    [prescriber]="hcp"
    [patient]="patient"
    (onCloseModal)="onClosePrintPrescriptionsModal()" />
</div>
