<div class="home" *ngIf="uiReady">
  <cardinal-practitioner-certificate
    [hcp]="hcp"
    [certificateUploaded]="certificateUploaded"
    [certificateValid]="certificateValid"
    [errorWhileVerifyingCertificate]="errorWhileVerifyingCertificate"
    (onUploadCertificate)="onUploadCertificate($event)">
  </cardinal-practitioner-certificate>

  <div class="home__divider"></div>
  <p>
    {{ t('home.samVersionLabel') }} <strong>{{ samVersion?.version }}</strong>
  </p>
  <div class="home__divider"></div>

  <cardinal-medication-search
    *ngIf="certificateValid && !errorWhileVerifyingCertificate"
    (addPrescription)="onCreatePrescription($event)"
    [deliveryEnvironment]="deliveryEnvironment">
  </cardinal-medication-search>

  <div class="home__divider"></div>

  <cardinal-prescription-list
    *ngIf="prescriptions"
    [prescribedMedications]="prescriptions"
    [sending]="arePrescriptionsSending"
    [printing]="arePrescriptionsPrinting"
    (handleModifyPrescription)="onModifyPrescription($event)"
    (handleDeletePrescription)="onDeletePrescription($event)"
    (sendPrescriptions)="onSendPrescriptions()"
    (printPrescriptions)="onPrintPrescriptions()"
    (sendAndPrintPrescriptions)="onSendAndPrintPrescriptions()">
  </cardinal-prescription-list>

  <cardinal-prescription-modal
    *ngIf="prescriptionModalMode === 'create'"
    [modalTitle]="t('prescription.createTitle')"
    (handleSubmit)="onSubmitCreatePrescription($event)"
    (handleCancel)="onClosePrescriptionModal()"
    [medicationToPrescribe]="medicationToPrescribe"
    [alternativeCheapMedications]="alternativeCheapMedications"
  >
  </cardinal-prescription-modal>

  <cardinal-prescription-modal
    *ngIf="prescriptionModalMode === 'modify'"
    [modalTitle]="t('prescription.modifyTitle')"
    (handleSubmit)="onSubmitModifyPrescription($event)"
    (handleCancel)="onClosePrescriptionModal()"
    [prescriptionToModify]="prescriptionToModify">
  </cardinal-prescription-modal>

  <cardinal-print-prescription-modal
    *ngIf="prescriptions && showPrintPrescriptionsModal"
    [prescribedMedications]="prescriptions"
    [prescriber]="hcp"
    [patient]="patient"
    (onCloseModal)="onClosePrintPrescriptionsModal()">
  </cardinal-print-prescription-modal>
</div>
