<div class="uploadCertificateWrap">
  <app-certificate-status
    *ngIf="certificateUploaded"
    [status]="'error'"
    [title]="certificateAvailabilityFeedback.passwordMissing.title"
    [description]="
      certificateAvailabilityFeedback.passwordMissing.description
    " />

  <form
    *ngIf="uploadCertificateForm"
    class="uploadCertificate"
    id="uploadCertificateForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="uploadCertificateForm">
    <h3>
      {{
        !certificateUploaded
          ? t('practitioner.certificateUpload.titleUpload')
          : t('practitioner.certificateUpload.titlePassword')
      }}
    </h3>
    <div class="uploadCertificate__inputs">
      <app-text-input
        *ngIf="!certificateUploaded"
        [label]="t('practitioner.certificateUpload.fileLabel')"
        [id]="'certificateFile'"
        [type]="'file'"
        [required]="true"
        [accept]="'.p12,.acc-p12'"
        formControlName="certificateFile"
        (change)="handleFileChange($event)"
        [errorMessage]="getErrorMessage('certificateFile')" />

      <app-text-input
        [label]="t('practitioner.certificateUpload.passwordLabel')"
        [id]="'certificatePassword'"
        [type]="'password'"
        [required]="true"
        formControlName="certificatePassword"
        [errorMessage]="getErrorMessage('certificatePassword')" />
    </div>

    <app-button [type]="'submit'" (handleClick)="onSubmit()" [view]="'primary'">
      {{
        !certificateUploaded
          ? t('practitioner.certificateUpload.submitButtonUpload')
          : t('practitioner.certificateUpload.submitButtonPassword')
      }}
    </app-button>
  </form>
  <app-button
    *ngIf="certificateUploaded"
    [type]="'reset'"
    (handleClick)="onUploadedAnotherCertificate()"
    [view]="'outlined'">
    {{ t('practitioner.certificateUpload.resetButton') }}
  </app-button>
</div>
