<div class="uploadCertificateWrap">
  <app-certificate-status
    *ngIf="certificateUploaded"
    [status]="'error'"
    [title]="certificateAvailabilityFeedback.passwordMissing.title"
    [description]="
      certificateAvailabilityFeedback.passwordMissing.description
    " />

  <form
    *ngIf="uploadCertificateForm"
    class="uploadCertificate"
    id="uploadCertificateForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="uploadCertificateForm">
    <h3>
      {{
        !certificateUploaded
          ? 'Télécharger le certificat'
          : 'Entrez le mot de passe du certificat'
      }}
    </h3>
    <div class="uploadCertificate__inputs">
      <app-text-input
        *ngIf="!certificateUploaded"
        [label]="'Certificat du praticien'"
        [id]="'certificateFile'"
        [type]="'file'"
        [required]="true"
        [accept]="'.p12,.acc-p12'"
        formControlName="certificateFile"
        (change)="handleFileChange($event)"
        [errorMessage]="getErrorMessage('certificateFile')" />

      <app-text-input
        [label]="'Mot de passe du certificat'"
        [id]="'certificatePassword'"
        [type]="'password'"
        [required]="true"
        formControlName="certificatePassword"
        [errorMessage]="getErrorMessage('certificatePassword')" />
    </div>

    <app-button [type]="'submit'" (handleClick)="onSubmit()" [view]="'primary'">
      {{ !certificateUploaded ? 'Crypter et télécharger' : 'Soumettre' }}
    </app-button>
  </form>
  <app-button
    *ngIf="certificateUploaded"
    [type]="'reset'"
    (handleClick)="onUploadedAnotherCertificate()"
    [view]="'outlined'">
    Télécharger un autre certificat
  </app-button>
</div>
